{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "max-len": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "import/extensions": [
      "off"
    ],
    "react/sort-comp": [
      "off"
    ],
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/prefer-stateless-function": [
      "off",
      {
        "ignorePureComponents": true
      }
    ]
  }
}
